/* Fonts */
.anonymous-pro-regular {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
}

.anonymous-pro-bold {
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  font-style: normal;
}

.anonymous-pro-regular-italic {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: italic;
}

.anonymous-pro-bold-italic {
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  font-style: italic;
}

.lora-regular {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.helvetica-neue-regular {
  font-family: "Helvetica Neue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sour-gummy-regular {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Utilities */
.summary-no-marker::marker {
  content: "";
}

.summary-clickable {
  cursor: pointer;
}

.summary-box {
  padding-bottom: 1rem;
}

.header-aka {
  font-size: 3rem;
}

.details-box {
  margin-bottom: 1rem;
  opacity: 0.5;
}

.details-box:hover {
  margin-bottom: 1rem;
  opacity: 1;
}

.details-box:open {
  margin-bottom: 2rem;
  opacity: 1;
}

.body-medium-width {
  max-width: 15rem;
}

.body-content-centered {
  margin: 0 auto;
}

.aka-label {
  display: inline-block;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  opacity: 0.25;
}

.details-box:open .aka-label {
  opacity: 0.5;
}

/* Nested */

details:first-of-type summary .aka-label {
  display: none;
}

html, body {
    height: 100%;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}